::selection {
    color: none;
    background: none;
}

body {
    background-color: rgb(238, 235, 235);
    background-image: url("../../public/images/desk3.jpg");
    background-size: 130%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
}


.pad-container {
    position: relative;
    position: absolute;
    left: 23%;
    top: 200px;
    height: 640px;
    border-right: 8px solid rgb(111, 110, 110);
    border-left: 10px solid rgb(36, 36, 36);
    border-bottom: 5px solid rgb(57, 56, 56);
    border-top: 5px solid rgb(57, 56, 56);
    border-style: outset;
    border-radius: 30px;
    width: 600px;
    box-shadow: -10px 20px 10px  rgb(106, 106, 105);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 193, 193);
}

/////////////////////////// Tutorial 

.pad-tutorial {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 115px;
    top: 360px;
    background: rgb(83, 83, 83);
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px;
    animation: move 0.8s ease-in-out infinite alternate;
    font-size: 20px;
}

@-webkit-keyframes move {
  0%, 49% {
   border: 3px solid rgb(243, 114, 114);
   border-style: dotted;
  }
  50%, 100% {
    border: 3px solid rgb(56, 56, 56);
  }
}

.arrow1 {
    height: 60px;
    position: absolute;
    left: 26%;
    top: 400px;
    z-index: 1;
}

.arrow2 {
    height: 70px;
    transform: rotateY(3.142rad);
    transform: rotate(-45deg);
    position: absolute;
    left: 26%;
    top: 500px;
    z-index: 1;
}

.arrow3 {
    height: 70px;
    transform: rotate(180deg);
    position: absolute;
    right: 42%;
    top: 230px;
    z-index: 1;
}

.arrow4 {
    height: 70px;
    transform: rotate(140deg);
    position: absolute;
    right: 42%;
    top: 250px;
    z-index: 1;
}

.record-sound-tutorial-1 {
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 115px;
    top: 550px;
    background: rgb(83, 83, 83);
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px;
    animation: move 0.8s ease-in-out infinite alternate;
    font-size: 20px;
}

.record-sound-tutorial-2 {
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 115px;
    top: 660px;
    background: rgb(83, 83, 83);
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px;
    animation: move 0.8s ease-in-out infinite alternate;
    font-size: 20px;
}

.record-sound-tutorial-3 {
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 115px;
    top: 750px;
    background: rgb(83, 83, 83);
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px;
    animation: move 0.8s ease-in-out infinite alternate;
    font-size: 20px;
}

.record-beat-tutorial {
    width: 200px;
    height: fit-content;
    position: absolute;
    right: 315px;
    top: 180px;
    background: rgb(83, 83, 83);
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px;
    animation: move 0.8s ease-in-out infinite alternate;
    font-size: 20px;
    display:none;
}

.play-button-tutorial {
    width: 210px;
    height: fit-content;
    position: absolute;
    right: 300px;
    top: 225px;
    background: rgb(83, 83, 83);
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px;
    animation: move 0.8s ease-in-out infinite alternate;
    font-size: 20px;
}

.hide {
    display: none;
}

.instructions-button {
    height: 60px;
    width: 150px; 
    position: absolute;
    right: 35px;
    top: 800px;
    background: rgb(83, 83, 83);
    animation: move 0.8s ease-in-out infinite alternate;
    font-size: 40px;
    font-family: sans-serif;
    color: red;
    border-radius: 10px;
    border-style: outset;
}

.instructions-button:hover {
    cursor: pointer;
    background: rgb(133, 132, 132);
    animation: none;
    border: 2px solid black;
    border-style: inset;
}

///////////////////////////

.pad-subcontainer {
    padding: 30px;
    display: flex;
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 88, 88);
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    border-radius: 20px;
    position: relative;
    border-left: 6px rgb(41, 41, 41);
    border-bottom: 6px rgb(73, 73, 73);
    border-top: 3px rgb(73, 73, 73);
    border-right: 3px rgb(73, 73, 73);
    border-style: outset;
    box-shadow: -3px 5px 5px  rgb(106, 106, 105);
    box-sizing: border-box;
}

.pad:hover {
    cursor: pointer;
    background-color: rgb(101, 101, 101);
}

.pressed {
    border: 5px rgb(250, 13, 13) inset;
    box-shadow: none;
}

.pad > p {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 40px;
    width: 120px;
    height: 80px;
}

.red-button {
    position: absolute;
    left: 31px;
    top: 110px;
    height: 30px;
    width: 30px;
    margin-top: 0;
    border-radius: 40px;
    background-color: red;
    background-image: linear-gradient(to bottom, red, rgb(204, 138, 138));
    box-sizing: border-box;
    border: 3px rgb(73, 73, 73) outset;
    animation: glow 0.8s ease-in-out infinite alternate;
}

.red-button:hover {
    background: rgb(255,0,0);
    cursor: pointer;
    background: radial-gradient(circle, rgba(255,0,0,0.7511379551820728) 50%, rgba(255,255,255,1) 100%);
}

.record-on {
 animation: blink .8s infinite;
}

.record-off {
    display: none;
}

@-webkit-keyframes blink {
  0%, 49% {
   background: linear-gradient(to bottom, rgba(175, 6, 6, 0.751) 50%, rgb(204, 138, 138));
  }
  50%, 100% {
    background-image: linear-gradient(to bottom, red, rgb(204, 138, 138));
  }
}

.record-beat {
    height: 60px;
    width: 60px;
    margin-top: 0px;
    border-radius: 40px;
    background-image: linear-gradient(to bottom, red, rgb(204, 138, 138));
    box-sizing: border-box;
    border: 3px rgb(73, 73, 73) outset;
    animation: glow 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px rgb(216, 120, 120);
  }
  to {
    box-shadow: 0 0 20px rgb(240, 79, 79), 
  }
}
.record-beat:hover {
    cursor: pointer; 
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,0.7511379551820728) 50%, rgba(255,255,255,1) 100%);
}

.beat-recording {
   border: 3px rgb(73, 73, 73) inset;
   animation: blink .8s infinite;
}

.record-label {
    color: rgb(67, 66, 66);
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 1px;
}


.beat-boxer-3000 {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 18px;
    color: rgb(134, 134, 134);
    font-family: Helvetica;
    font-style: italic;
    font-size: 25px;   
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: rgb(89, 88, 88);
    height: 30px;
    width: 30px;
    font-size: 12px;
    font-style: bold;
    color: white;
    border-radius: 5px;
    position: relative;
    border-left: 3px rgb(41, 41, 41);
    border-bottom: 3px rgb(73, 73, 73);
    border-top: 1px rgb(73, 73, 73);
    border-right: 1px rgb(73, 73, 73);
    border-style: outset;
    box-shadow: -1px 2px 2px  rgb(106, 106, 105);
}

.play-button:hover {
    cursor: pointer;
    background-color: rgb(101, 101, 101);
}

.playing {
    border-left: 1px rgb(116, 116, 116);
    border-bottom: 1px rgb(63, 63, 63);
    border-top: 1px rgb(130, 127, 127);
    border-right: 1px rgb(142, 140, 140);
    border-style: inset;
    box-shadow: none;
}
