div {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px ;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: black;
    background-image: url("../../public/images/studio.jpg");
    background-repeat: no-repeat;
}

.pad-container {
    position: relative;
    margin-top: 10%;
    height: 600px;
    border-left: 3px solid rgb(46, 46, 46);
    border-top: 25px solid black;
    border-style: outset;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(10, 10, 10), rgb(34, 33, 33));
}

.pad-subcontainer {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: 90px;
    width: 90px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    border-radius: 20px;
    position: relative;
    border: 10px rgb(73, 73, 73);
    border-style: outset;
    animation: glow2 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow2 {
  from {
    box-shadow: -1px -5px 10px  rgb(248, 248, 248);
  }
  
  to {
       box-shadow: -1px -5px 10px  rgb(182, 181, 181); 
  }
}

::selection {
    color: none;
    background: none;
}

.pad:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}


.pressed {
    border: 5px rgb(250, 13, 13) inset;
    transform: scale(1.0);
}


.red-button {
    position: absolute;
    left: 30px;
    top: 110px;
    height: 30px;
    box-sizing: border-box;
    border: 3px rgb(73, 73, 73) outset;
    border-radius: 50px;
}

.red-button:hover {
    cursor: pointer;
    border: 3px rgb(199, 10, 10) outset;
    border-radius: 40px;
}

.record-on {
 animation: BLINK .8s infinite;
}

.not-recording {
    display: none;
}

@-webkit-keyframes BLINK {
  0%, 49% {
    border: 2px solid red;
    border-radius: 40px;
  }
  50%, 100% {
    border: 1px solid rgb(230, 229, 229);
    border-radius: 40px;
  }
}



.pad > p {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 40px;

}

#my-audio{
    display: inline-block;
    width: 300px;
}

#record-beat {
    height: 30px;
    width: 30px;
    margin-top: 0;
    border-radius: 10px;
    background-color: red;
    background-image: linear-gradient(to bottom, red, rgb(204, 138, 138));
    box-sizing: border-box;
    border: 3px rgb(73, 73, 73) outset;
    animation: glow 0.8s ease-in-out infinite alternate;
    
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px #fff;
  }
  
  to {
    box-shadow: 0 0 20px #fff, 
  }
}

.record-label {
    color: rgb(221, 220, 220);
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

#record-beat:hover {
    cursor: pointer;
    border: 3px rgb(134, 134, 134) outset;
}

.beat-boxer-3000 {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.671);
    font-family: Helvetica;
    font-style: italic;
    
}