body {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(3px);
    background-image: url("../../public/images/studio.jpg");

}

.pad-container {
    margin-top: 10%;
    height: 600px;
    border-style: outset;
    border: 5px solid black;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}

.pad-subcontainer {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    border-radius: 20px;
    position: relative;

    border: 5px rgb(73, 73, 73) outset;
    box-shadow: -1px -5px 10px  rgb(248, 248, 248);
}

::selection {
    color: none;
    background: none;
}

.pad:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}


.pressed {
    border: 5px rgb(250, 13, 13) inset;
    transform: scale(1.0);
}


.red-button {
    position: absolute;
    left: 33px;
    top: 115px;
    height: 30px;
   
}

.record-on {
 animation: BLINK 1s infinite;
}

.not-recording {
    display: none;
}

@-webkit-keyframes BLINK {
  0%, 49% {
    border: 2px solid red;
    border-radius: 40px;
  }
  50%, 100% {
    border: 1px solid rgb(230, 229, 229);
    border-radius: 40px;
  }
}

.red-button:hover {
    cursor: pointer;
    border: 1px solid red;
    border-radius: 40px;
}

.pad > p {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40px;

}

#my-audio{
display: inline-block;
width: 300px;
}